<!--**
 * Created by Tyler on 2018-8-14 19:00:36
 * 4-1 使用组件的细节点_慕课网  https://coding.imooc.com/lesson/203.html#mid=12998
 * 在02TodoList/TodoList3.1.html的基础上修改，使用组件的一些注意事项
 * -->
<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>使用组件的细节</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input v-model="AddTxt" type="text">
    <input v-on:click="addTodo" type="button" value="提交">
    <ul>
        <!-- 注意点1： 用is属性来指向组件 避免一些渲染上的bug -->
        <li is="Todo-item" :content="Item"
                   :index="Index"
                   v-for="(Item, Index) of List">
        </li>
    </ul>
</div>

<script>
    var TodoItem = {
        props: ["content", "index"],
        template: "<li>{{index}}、{{content}}{{msg}}</li>",
        data: function () {
            return {
                //data object goes here...
                //注意点2： 组件里的数据必须用函数返回一个data对象
                msg: "."
            };
        }
    };

    var app = new Vue({
        el: '#app',
        components: {
            TodoItem : TodoItem
        },
        data: {
            List:["第一课的内容", "第二课的内容", "第三课的内容", "第四课的内容"]
            ,AddTxt: ""
        },
        methods: {
            addTodo: function(){
                this.List.push(this.AddTxt);
                this.AddTxt = "";
            }
        }
    });
</script>
</body>
</html>